* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.bg-1 {
	background-color: #ff9f1c;
}

.t-1 {
	color: #ff9f1c;
}

.bg-2 {
	background-color: #ffbf69;
}

.bg-3 {
	background-color: #ffffff;
}

.bg-4 {
	background-color: #cbf3f0;
}

.bg-5 {
	background-color: #2ec4b6;
}

.t-2 {
	color: #ffbf69;
}

.t-3 {
	color: #ffffff;
}

.t-4 {
	color: #cbf3f0;
}

.t-5 {
	color: #2ec4b6;
}

.custBorder {
	border:  2px solid black;
	border-radius: 50%;
}
